service: footyboy

frameworkVersion: "=1.42.3"

provider:
  name: aws
  runtime: nodejs12.x

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

functions:
  run:
    handler: dist/cloud-cron.run
    events:
      - http: GET /run
      - schedule: rate(1 minute)
  server:
    handler: dist/server.index
    events:
      - http: GET /
  callback:
    handler: dist/server.callback
    events:
      - http: GET /callback
